
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<title>Non-Profit Foundation Theme - </title>
<link rel="stylesheet" type="text/css" href="/layouts/style.css" media="screen" />
<!-- Check if alternitive color scheme is choosen -->
{{#section "scripts"}}
<script type='text/javascript' src='/layouts/js/jquery.js'></script>
<script type='text/javascript' src='/layouts/js/jquery-migrate.min.js'></script>
<script type='text/javascript' src='/layouts/js/superfish.js'></script>
<script type='text/javascript' src='/layouts/js/slideshow.js'></script>
{{/section}}
<!--[if IE 6]>
<script type="text/javascript" src="js/pngfix.js"></script>
<script type="text/javascript" src="js/menu.js"></script>
<link rel="stylesheet" type="text/css" media="all" href="css/ie6.css" />
<![endif]-->	
<!--[if IE 7]>
<link rel="stylesheet" type="text/css" media="all" href="css/ie7.css" />
<![endif]-->
<!--[if IE 8]>
<link rel="stylesheet" type="text/css" media="all" href="css/ie8.css" />
<![endif]-->
<!-- Start slideshow -->
<script type="text/javascript">jQuery(document).ready(function(){jQuery("ul#slides").cycle({fx: 'fade',timeout: 5000,prev: '#prev',next: '#next',slideExpr: 'li'});});</script>
</head>
<body class="home">
<div id="wrapper">
	<div id="head">
		<div id="head_wrap">
			<div class="typeface-js" id="top-nav">
				<a class="home_active" href="#"></a>
				<ul class="nav">
					<li class="page_item"><a href="#"><span class="menu">About</span></a></li>
					<li class="page_item"><a href="#"><span class="menu">Research</span></a></li>
					<li class="page_item"><a href="#"><span class="menu">Events</span></a></li>
					<li class="page_item"><a href="#"><span class="menu">Blog</span></a></li>
					<li class="page_item"><a href="#"><span class="menu">Contact</span></a></li>
				</ul> 
			</div>

			<div id="logo">
				<a href="#" title="">
					<img src="images/logo.png" />
				</a>
			</div>
			<div class="clear"></div>
			<div id="banner">
				<div id="banner_left">
					<h1>Lorem Ipsum Dolor Amet</h1>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.</p>
				</div>
				     
				<div id="banner_right">
					<ul style="" id="nav">
						<li id="prev"><a href="#">Previous</a></li>
						<li id="next"><a href="#">Next</a></li>
					</ul>
					<div style="overflow: hidden;" id="slideshow">
						<ul  id="slides">
							<li style="height:320px;">
								<img src="/layouts/images/slide12.png" />
							</li>
							<li style="height:320px;">
								<img src="/layouts/images/slide2.png" />
							</li>
							<li style="height:320px;">
								<img src="/layouts/images/slide3.png" />
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="full" id="ribbon">
			<table class="donate_bar" style="margin: 0 auto;" cellpadding="0" cellpadding="0" width="977px">
				<tr>
					<td  class="title"><h2 id="donate_left">Help Support Our Cause</h2></td>
					<td class="text">
						<p class="donate_mid">Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>
					</td>
					<td valign="top" class="butt">
						<form class="donate" action="https://www.paypal.com/cgi-bin/webscr" target="_blank" method="post">
							<input type="hidden" name="cmd" value="_donations">
							<input type="hidden" name="business" value="info@singlethemes.com">
							<input type="hidden" name="item_name" value="Donation">
							<input type="hidden" name="no_note" value="0">
							<input type="hidden" name="currency_code" value="USD">
							<input type="hidden" name="bn" value="PP-DonationsBF:btn_donateCC_LG.gif:NonHostedGuest">
							<input class="donate" type="submit" value="Donate Now"  border="0" name="submit">
						</form>
					</td>
				</tr>
			</table>
		</div>
		<div id="content" class="col-full">
			<div id="main">
				<div id="welcome_home">
					<h2>Mission</h2>
					<p><i>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</i> Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie.</p>
					<p>Consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.<br><a href="#">Read More</a></p></p>
				</div>
				<div class="roundify" id="home_box">
					<div id="inner_box">
						<h2>Events</h2>
						<p><b>Lorem ipsum dolor sit amet</b>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat.</p>
					</div>
				</div>
				<div style="clear:both;"></div>
			</div><!-- /#main -->
		</div><!-- /#content -->
		<div id="footer">
			<div class="inner">
				<ul class="nuv">
				<li class="current_page_item"><a href="#">Home</a></li>
				<li class="page_item page-item-2"><a href="#">About</a></li>
				<li class="page_item page-item-6"><a href="#">Research</a></li>
				<li class="page_item page-item-8"><a href="#">Events</a></li>
				<li class="page_item page-item-12"><a href="#">Blog</a></li>
				<li class="page_item page-item-10"><a href="#">Contact</a></li>
				</ul>
				<div id="social_foot">
					<a target="_blank" href="#">
						<img src="/layouts/images/fb_icon.png" />
					</a>
					<a target="_blank" href="#">
						<img src="/layouts/images/tw_icon.png" />
					</a>
					<a href="#">
						<img src="/layouts/images/rss_icon.png" />
					</a>
				</div>			 
				<div class="clear"></div>
			</div>
			<!-- Footer copywrite text  -->
			<div id="copywrite">
				<p>&copy; 2014&nbsp;Non-Profit Foundation Theme. All rights Reserved.</p>
				<a target="_blank" class="logo_icon" href="#">Non-Profit Theme</a>
			</div>
			<div class="fix"></div>
		</div><!-- /#footer  -->
	</div> <!-- /#head -->
	</div><!-- /#wrapper -->
</body>
</html>